@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Pacifico&display=swap');

body {
    background-image: url('../img/pattern.png');
    color: #481D24;
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    text-align: center;
}

.header {
    background-color: #481D24;
    color: #FFFFFF;
    padding: 30px;
}

.scoreboard {
    background-color: #FA9E87;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    margin-bottom: 100px;
    position: sticky;
    top: 0;

    p {
        padding: 20px 50px;
    }

}

.gameboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    margin: 0 auto;

    .card {
        margin: 10px;
        cursor: pointer;
        border: 15px solid #FFFFFF;
        box-shadow: 8px 8px 3px 0px rgba(0, 0, 0, 0.2);
    
        img {
            width: 100%;
        }
    
    }

}